@font-face {
  font-family: 'icomoon';
  src: url('https://raw.githubusercontent.com/willelder/file-hosting-sample/blob/main/icon-fonts/fonts/icomoon.woff') format('woff'),
    url('https://raw.githubusercontent.com/willelder/file-hosting-sample/blob/main/icon-fonts/fonts/icomoon.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e92d";
}
.icon-arrow-left:before {
  content: "\e92e";
}
.icon-arrow-right:before {
  content: "\e92f";
}
.icon-arrow-up:before {
  content: "\e930";
}
.icon-bookmark:before {
  content: "\e901";
}
.icon-bookmark-add:before {
  content: "\e900";
}
.icon-bookmark-remove:before {
  content: "\e902";
}
.icon-calendar:before {
  content: "\e91e";
}
.icon-calendar-add:before {
  content: "\e91f";
}
.icon-calendar-remove:before {
  content: "\e927";
}
.icon-cancel:before {
  content: "\e931";
}
.icon-cart:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e932";
}
.icon-chevron-down:before {
  content: "\e933";
}
.icon-chevron-left:before {
  content: "\e934";
}
.icon-chevron-right:before {
  content: "\e935";
}
.icon-chevron-up:before {
  content: "\e936";
}
.icon-clipboard-paste:before {
  content: "\e910";
}
.icon-copy:before {
  content: "\e924";
}
.icon-download:before {
  content: "\e905";
}
.icon-edit:before {
  content: "\e920";
}
.icon-facebook:before {
  content: "\e912";
}
.icon-favorite:before {
  content: "\e937";
}
.icon-file:before {
  content: "\e911";
}
.icon-filter:before {
  content: "\e921";
}
.icon-grid-view:before {
  content: "\e922";
}
.icon-home:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e913";
}
.icon-linkedin:before {
  content: "\e914";
}
.icon-list:before {
  content: "\e923";
}
.icon-mail:before {
  content: "\e90d";
}
.icon-microphone:before {
  content: "\e918";
}
.icon-microphone-mute:before {
  content: "\e917";
}
.icon-mute:before {
  content: "\e919";
}
.icon-notification:before {
  content: "\e907";
}
.icon-paste:before {
  content: "\e925";
}
.icon-pen:before {
  content: "\e926";
}
.icon-play:before {
  content: "\e91a";
}
.icon-plus:before {
  content: "\e92b";
}
.icon-round-chat:before {
  content: "\e90e";
}
.icon-sales-tag:before {
  content: "\e903";
}
.icon-save:before {
  content: "\e928";
}
.icon-search:before {
  content: "\e908";
}
.icon-settings:before {
  content: "\e909";
}
.icon-share:before {
  content: "\e929";
}
.icon-slider-h:before {
  content: "\e90f";
}
.icon-times:before {
  content: "\e92c";
}
.icon-trash:before {
  content: "\e92a";
}
.icon-twitter:before {
  content: "\e915";
}
.icon-upload:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e93a";
}
.icon-user-add:before {
  content: "\e938";
}
.icon-user-remove:before {
  content: "\e939";
}
.icon-video:before {
  content: "\e91c";
}
.icon-video-off:before {
  content: "\e91b";
}
.icon-volume-up:before {
  content: "\e91d";
}
.icon-youtube:before {
  content: "\e916";
}
.icon-zoom-in:before {
  content: "\e90c";
}
.icon-zoom-out:before {
  content: "\e90b";
}
